<nav>
    <ul>
        <li><a routerLink="accueil">Accueil</a></li>
        <li><a routerLink="a-propos">A propos</a></li>
        <li><a routerLink="services">Service</a></li>
        <li><a routerLink="galerie">Galerie</a></li>
        <li><a routerLink="contacts">Contact</a></li>
    </ul>
</nav>