nav ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: skyblue;
}
 nav ul li{
     display: inline-block;
     padding: 15px;
 }
 nav ul li a{
     color: #fff;
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: 600;
     text-transform: uppercase;
 }